---
import Layout2 from "../layouts/Layout2.astro"
import "../styles/global.css"
---

<Layout2 titulo="Inicio" descripcion="Bienvenido a League Base. Crea un torneo en minutos, sin registro.">
    <main>
		<div class="flex flex-col w-11/12 px-10">
			<p class="my-10 rounded-3xl px-4 w-full font-montserrat font-medium text-[18px]">
				League Base. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto et ex, natus ad repellat dolores nostrum dolorem est praesentium necessitatibus dolore quae corporis recusandae vitae quisquam similique deserunt repudiandae culpa!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quae provident est voluptatem minima, praesentium rem, doloremque consequuntur, fugiat repellat error cumque. Non delectus nihil voluptates ipsa aperiam officia neque.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vel, unde dolore culpa et voluptas aut odit, maxime ipsam eligendi consectetur quaerat amet beatae porro, modi hic quia debitis illo.	
			</p>
		</div>
	</main>
</Layou2t>		
