---
import Layout from "../layouts/Layout.astro"
import Top from "../components/Top.astro"
import "../styles/global.css"
import { API_URL } from "astro:env/server"

//Para equipos Top
const response = await fetch(`${API_URL}equipos`);

const equipos = await response.json();

let equiposTop = equipos.sort((a: any, b: any) => {return (b.ligasGanadas+b.torneosGanados) - (a.ligasGanadas+a.torneosGanados);});

equiposTop = equiposTop.map((equipo: any) => {
  return {
	nombre: equipo.nombre.toUpperCase(),
	urlFoto: equipo.urlFoto || "/assets/img/equipo-default.png",
	atributo1: equipo.ligasGanadas || 0,
	atributo2: equipo.torneosGanados || 0,
  };
});

equiposTop = equiposTop.slice(0, 3);

// Para jugadores Top

const response2 = await fetch(`${API_URL}jugadores`);

const jugadores = await response2.json();

let jugadoresTop = jugadores.sort((a: any, b: any) => {return b.valorEstadisticaPrincipal - a.valorEstadisticaPrincipal;});

//aqui se pasa los jugadoresTop a un array de objetos con los atributos necesarios para el top
jugadoresTop = jugadoresTop.map((jugadorTop: any) => {
  return {
    nombre: jugadorTop.nickname.toUpperCase(),
    urlFoto: "/assets/img/usuario.png",
    atributo1: jugadorTop.equipo,
    atributo2: jugadorTop.nombreEstadisticaPrincipal+": "+jugadorTop.valorEstadisticaPrincipal,
  };
});

jugadoresTop = jugadoresTop.slice(0, 3);
---

<Layout titulo="Inicio" descripcion="Bienvenido a League Base. Crea un torneo en minutos, sin registro.">
	<main>
		<section class="flex flex-col-reverse lg:flex-row justify-center max-w-7xl m-auto mb-12">
			<article class="max-w-md m-auto text-center md:text-left">
				<h1 class="my-6 lg:mx-6 px-4 lg:px-0 w-full font-montserrat text-texto-primario text-2xl lg:text-3xl">LeagueBase - La plataforma definitiva de torneos multideporte y videojuegos</h1>
				<p class="my-6 lg:mx-6 px-4 lg:px-0 w-full font-montserrat text-[14px] lg:text-[16px] text-texto-primario">
					Organiza, compite y sigue tus torneos favoritos en tiempo real.
				</p>
				<a href="/crear-torneo" class="my-10 mx-4 lg:mx-6 px-6 py-3 w-full max-w-fit font-montserrat text-[14px] lg:text-[16px] text-white bg-[#3B4FC5] hover:bg-[#404d92] shadow-md rounded-full transition duration-200 ease-in-out transform hover:scale-105">Crear Torneo</a>
			</article>
			<img class="m-auto xl:h-[90vh] lg:h-[80vh] md:h-[60vh] h-[40vh] max-w-fit" src="/assets/img/portada2.png" alt="Imagen portada de LeagueBase">
		</section>
	</main>
  <Top titulo="ðŸ† TOP MEJORES EQUIPOS" top={equiposTop} atributo1=`ðŸ¥‡ Ligas ganadas: ` atributo2=`ðŸ† Torneos ganados: `/>
  <Top titulo="ðŸ† TOP MEJORES JUGADORES" top={jugadoresTop} atributo1=`EQUIPO: ` atributo2=``/>
</Layout>
