---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css"
---

<Layout titulo="Sing Up" descripcion="Página de registro de usuario">
    <main class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center shadow-sm bg-linear-to-t from-slate-950 to-slate-900 rounded-2xl pt-8">
            <h1 class="text-3xl">Crear Cuenta</h1>
            <form class="p-8 w-[350px]">        
                <label for="username" class="text-primario">Correo Electronico</label>
                <input type="text" id="username" class="pl-2 mt-1 w-full border border-gray-300 rounded-md shadow-sm focus:ring transition-all focus:ring-blue-500 mb-8" autocomplete="email" required />
                
                <label for="contraseña" class="text-primario">Contraseña</label>
                <input type="password" id="contraseña" class="pl-2 mt-1 w-full border border-gray-300 rounded-md shadow-sm focus:ring transition-all focus:ring-blue-500 mb-8" autocomplete="current-password" required />

                <label for="repetir_contraseña" class="text-primario">Repetir Contraseña</label>
                <input type="password" id="repetir_contraseña" class="pl-2 mt-1 w-full border border-gray-300 rounded-md shadow-sm focus:ring transition-all focus:ring-blue-500 mb-8" autocomplete="current-password" required />

                <input type="submit" value="Crear Cuenta" class="w-full bg-blue-600 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-blue-700 transition-all" />
            </form>
        </div>
        <p class="mt-4">¿Ya tienes una cuenta? Inicia sessión <a href="/login" class="underline text-blue-600">aqui</a></p>
    </main>
</Layout>